<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= restaurant %> Menu</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <main class="main-content">
      <h1>Menu for <%= restaurant %></h1>
      <h2>Cuisine Type: <%= menu.cuisine %></h2>
      <ul>
        <% menu.items.forEach(item => { %>
        <li>
          <strong><%= item.name %></strong>: <%= item.description %> - $<%=
          item.price %> <% if (item.isSpecial) { %>
          <em>(Special)</em>
          <% } %>
        </li>
        <% }) %>
      </ul>
      <a href="/">Back to Home</a>
    </main>
  </body>
</html>
